



.lovestr2-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: .85;
  cursor: pointer;
}


.lovestr2-item:nth-child(4),
.lovestr2-item:nth-child(5), 
.lovestr2-item:nth-child(9), 
.lovestr2-item:nth-child(10), 
.lovestr2-item:nth-child(14), 
.lovestr2-item:nth-child(15), 
.lovestr2-item:nth-child(19),
.lovestr2-item:nth-child(20) {
  flex-basis: 49.5%;
}

.lovestr2-item:hover {
  opacity: 1;
}
.lovestr2-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}