.sem1-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: .85;
  cursor: pointer;
}

.sem1-item:nth-child(1),
.sem1-item:nth-child(2),
.sem1-item:nth-child(6),
.sem1-item:nth-child(7)
{
  flex-basis: 49.5%;
  opacity: .85;
  cursor: pointer; 
}
.sem1-item:nth-child(3),
.sem1-item:nth-child(4), 
.sem1-item:nth-child(5) {
  flex-basis: 32.7%;
}
.sem1-item:nth-child(8) {
  flex-basis: 99.7%;
}
.sem1-item:hover {
  opacity: 1;
}
.sem1-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}