// -------------------------------------------------------------------page-SERVICES--------------------------------------------------------------------------
// 
.services {
  max-width: 1440px;
  margin: 0 auto;
}
.services__title {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
}
.services__inner {
margin-top: 25px;
  
}
.services__list {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
 
}
.services__item {
  max-width: 700px;
  
}
.item__img {
  img {
    width: 700px;
  }
}
.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px 0;
}
.item__list {
  
}
.list__desc  {
  list-style: disc;
  margin: 6px 0;
  opacity: 0.79;
}
.services__price {
  width: 470px;
  justify-content: center;
  display: flex;
margin: 30px 0 20px 0;
}
.prise1 {
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
}
.prise2 {
  
}
.services__button {

}
.servbtn {
  margin: 0 0 0 20px;
  white-space: nowrap;
}
.divider {                /* minor cosmetics */
  display: table; 
  font-size: 24px; 
  text-align: center; 
  width: 75%;             /* divider width */
  margin: 15px auto; 
  span {
    display: inline-block;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 7px;
  }         /* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 5px;              /* adjust vertical align */
  -moz-background-size: 100% 2px;   /* line width */
  background-size: 100% 1px;      /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {       /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
  background-image: -webkit-linear-gradient(180deg, transparent, #fff);
  background-image: -moz-linear-gradient(180deg, transparent, #fff);
  background-image: -o-linear-gradient(180deg, transparent, #fff);
  background-image: linear-gradient(90deg, transparent, #fff);
}
.divider span:nth-child(2) {
  color: #ffffff; padding: 0 0 0 6px;; width: auto; white-space: nowrap;
}
.divider span:last-child {        /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #fff, transparent);
  background-image: -moz-linear-gradient(180deg, #fff, transparent);
  background-image: -o-linear-gradient(180deg, #fff, transparent);
  background-image: linear-gradient(90deg, #fff, transparent);
}

// ---------------------------------------------------section-addit-------------------
// 
.addit {
}
.addit-inner {
  display: flex;
  flex-direction: column;
}
.addit__info {
  max-width: 600px;
  margin: 0 auto;
}
.addit__info-list {
  margin: 15px auto;
  line-height: 22px;
}
.addit__info-text {
  text-align: center;
  opacity: 0.79;
}
.addit__price {
  margin: 0 auto;
}
.addit-list {
  opacity: 0.79;
  line-height: 22px;
}

.addit-text {
  list-style: inside;
  margin: 6px 0;
}