.swa2-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: .85;
  cursor: pointer;
  margin-bottom: 8px;
}


.swa2-item:nth-child(4),
.swa2-item:nth-child(5),
.swa2-item:nth-child(11),
.swa2-item:nth-child(12),
.swa2-item:nth-child(16),
.swa2-item:nth-child(17)
{
  flex-basis: 49.5%;
  opacity: .85;
  cursor: pointer; 
}


.swa2-item:nth-child(7),
.swa2-item:nth-child(18) {
  flex-basis: 66.3%;
}

.swa2-item:hover {
  opacity: 1;
}
.swa2-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}