@charset "UTF-8";
.lovestr-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.lovestr-item:nth-child(1),
.lovestr-item:nth-child(2),
.lovestr-item:nth-child(3) {
  flex-basis: 32.7%;
  opacity: 0.85;
  cursor: pointer;
}

.lovestr-item:nth-child(4),
.lovestr-item:nth-child(5) {
  flex-basis: 49.5%;
}

.lovestr-item:hover {
  opacity: 1;
}

.lovestr-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lovestr2-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.lovestr2-item:nth-child(4),
.lovestr2-item:nth-child(5),
.lovestr2-item:nth-child(9),
.lovestr2-item:nth-child(10),
.lovestr2-item:nth-child(14),
.lovestr2-item:nth-child(15),
.lovestr2-item:nth-child(19),
.lovestr2-item:nth-child(20) {
  flex-basis: 49.5%;
}

.lovestr2-item:hover {
  opacity: 1;
}

.lovestr2-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 45px;
}

.about__title {
  text-align: center;
  margin: 30px 0;
}

.title__name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.about__desc {
  max-width: 418px;
}

.desc__text {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  opacity: 0.79;
}

.order__button {
  transition: all 0.5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  margin-top: 30px;
}
.order__button:hover {
  color: #001F3F;
  background-color: #fff;
}

.about__image img {
  max-width: 400px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form__cnt li {
  list-style: none;
}

.order__ttl {
  display: block;
  text-transform: uppercase;
  color: rgb(57, 57, 57);
  font-size: 17px;
  width: 200px;
  text-align: center;
  margin: 30px 100px;
}

.ttl_span {
  font-size: 14px;
  text-transform: math-auto;
  white-space: nowrap;
  color: #393939;
  display: block;
  margin-bottom: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.ttl_su {
  font-size: 10px;
  text-transform: math-auto;
  color: #393939;
  display: block;
  margin: 0 30px 25px 30px;
  text-align: center;
  line-height: 14px;
}

.form__cnt {
  display: inline-block;
}

#contact {
  background: #fff;
  position: relative;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.js #contact {
  position: fixed;
  top: 50px;
  display: none;
  left: 0;
  right: 0;
}

input {
  border: 0;
  margin: 1em 40px;
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid #393939;
  background: none;
  display: block;
  color: #393939;
}

textarea {
  border: 0;
  width: 300px;
  height: 100px;
  display: block;
  margin-left: 40px;
  background: none;
  padding: 5px;
  border-bottom: 2px solid #393939;
  color: #393939;
}

#submit {
  margin: 3em auto 4em;
  border: 2px solid #393939;
  color: #393939;
  cursor: pointer;
}

#submit:hover {
  color: #000000;
}

.close {
  position: absolute;
  right: 20px;
  top: -10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 3em;
  color: #000000;
}

@media (max-width: 765px) {
  textarea {
    width: 250px;
  }
  input {
    width: 250px;
  }
}
@media (max-width: 400px) {
  textarea {
    width: 250px;
  }
  input {
    width: 250px;
  }
  .form__cnt {
    display: inline-block;
    width: 320px;
  }
  .order__ttl {
    width: auto;
    white-space: nowrap;
  }
}
.services {
  max-width: 1440px;
  margin: 0 auto;
}

.services__title {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
}

.services__inner {
  margin-top: 25px;
}

.services__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.services__item {
  max-width: 700px;
}

.item__img img {
  width: 700px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px 0;
}

.list__desc {
  list-style: disc;
  margin: 6px 0;
  opacity: 0.79;
}

.services__price {
  width: 470px;
  justify-content: center;
  display: flex;
  margin: 30px 0 20px 0;
}

.prise1 {
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
}

.servbtn {
  margin: 0 0 0 20px;
  white-space: nowrap;
}

.divider { /* minor cosmetics */
  display: table;
  font-size: 24px;
  text-align: center;
  width: 75%; /* divider width */
  margin: 15px auto;
  /* spacing above/below */
}
.divider span {
  display: inline-block;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.divider span {
  display: table-cell;
  position: relative;
}

.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 5px; /* adjust vertical align */ /* line width */
  background-size: 100% 1px; /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.divider span:first-child { /* color changes in here */
  background-image: linear-gradient(90deg, transparent, #fff);
}

.divider span:nth-child(2) {
  color: #ffffff;
  padding: 0 0 0 6px;
  width: auto;
  white-space: nowrap;
}

.divider span:last-child { /* color changes in here */
  background-image: linear-gradient(90deg, #fff, transparent);
}

.addit-inner {
  display: flex;
  flex-direction: column;
}

.addit__info {
  max-width: 600px;
  margin: 0 auto;
}

.addit__info-list {
  margin: 15px auto;
  line-height: 22px;
}

.addit__info-text {
  text-align: center;
  opacity: 0.79;
}

.addit__price {
  margin: 0 auto;
}

.addit-list {
  opacity: 0.79;
  line-height: 22px;
}

.addit-text {
  list-style: inside;
  margin: 6px 0;
}

.contacts__title {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  margin: 20px 0;
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__image {
  margin-bottom: 22px;
}
.contacts__image img {
  max-width: 400px;
}

.contacts__info {
  max-width: 322px;
  text-align: center;
}

.contacts__info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.79;
}

@media screen and (max-width: 485px) {
  .contacts__image img {
    max-width: 300px;
  }
}
.indi {
  max-width: 1440px;
}

.indi__container {
  width: 100%;
  max-width: 1440px;
  border-radius: 4px;
  margin: 0 auto;
}

.indi__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
}

.wrapperr {
  width: 34.3%;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.wrapperr span {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 12px;
}

.name {
  position: relative;
  font-size: 16px;
  display: inline-block;
}
.name:after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 1px;
  background-color: #000;
  bottom: -4px;
  left: 0;
}

.box {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017), 0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03), 0 11.2px 13.4px rgba(0, 0, 0, 0.036), 0 20.9px 25.1px rgba(0, 0, 0, 0.043), 0 50px 60px rgba(0, 0, 0, 0.06);
  -o-object-fit: contain;
     object-fit: contain;
}
.box .hide {
  opacity: 0;
}
.box img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.box img:hover {
  transition: all 0.3s ease-in-out;
}
.box img:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.box img:hover {
  transition: all 0.3s ease-in-out;
}

.zoom-out img {
  transform: scale(1.1);
}
.zoom-out:hover img {
  transform: scale(1);
  filter: contrast(70%);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000000;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.gallery-item:nth-child(1),
.gallery-item:nth-child(2) {
  flex-basis: 49.7%;
  opacity: 0.85;
  cursor: pointer;
}

.gallery-item:hover {
  opacity: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-content {
  font-size: 0.8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.lightbox-content {
  position: relative;
  width: 80%;
  height: 90%;
  margin: 2% auto;
}

.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}

.lightbox-prev {
  left: 0;
}

.lightbox-next {
  right: 0;
}

.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: 0.8;
}

.lightbox-content {
  width: 90%;
  margin: 50px auto;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.indi2-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.indi2-item:nth-child(4),
.indi2-item:nth-child(5),
.indi2-item:nth-child(9),
.indi2-item:nth-child(10),
.indi2-item:nth-child(12) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
  align-items: center;
}

.indi2-item:nth-child(13) {
  flex-basis: 100%;
}

.indi2-item:hover {
  opacity: 1;
}

.indi2-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.indi3-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.indi3-item:nth-child(4),
.indi3-item:nth-child(5),
.indi3-item:nth-child(9),
.indi3-item:nth-child(10),
.indi3-item:nth-child(11),
.indi3-item:nth-child(12) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
  align-items: center;
}

.indi3-item:hover {
  opacity: 1;
}

.indi3-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.indi4-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.indi4-item:nth-child(4) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
  align-items: center;
}

.indi4-item:nth-child(5),
.indi4-item:nth-child(6) {
  flex-basis: 66.7%;
}

.indi4-item:nth-child(4),
.indi4-item:nth-child(7) {
  flex-basis: 32.7%;
}

.indi4-item:hover {
  opacity: 1;
}

.indi4-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.testimonials__title {
  display: inline-block;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 20px;
}

.testimonials__inner {
  max-width: 1130px;
  align-items: center;
  display: flex;
  margin: 0 10px;
}

.testimonials__row {
  border: 1px solid;
  color: rgba(255, 255, 255, 0.5098039216);
  margin: 30px 0;
}

.testimonials__item {
  display: flex;
}

.testimonials__img img {
  max-width: 550px;
}

.testimonials__content {
  margin-left: 30px;
}

.content-title {
  margin-bottom: 20px;
}

.content-desc {
  margin-bottom: 20px;
  line-height: 27px;
  opacity: 0.79;
}

.content-btn {
  transition: all 0.5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  max-width: 160px;
}
.content-btn a {
  padding: 2px;
  white-space: nowrap;
}
.content-btn:hover {
  color: #001F3F;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .testimonials__item {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .content-title {
    margin: 20px 0;
  }
  .testimonials__content {
    margin: 0 10px;
  }
}
@media screen and (max-width: 470px) {
  .testimonials__img img {
    max-width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .testimonials__img img {
    max-width: 370px;
  }
}
@media screen and (max-width: 370px) {
  .testimonials__img img {
    max-width: 320px;
  }
}
.vench-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
  margin-bottom: 8px;
}

.vench-item:nth-child(1),
.vench-item:nth-child(2),
.vench-item:nth-child(3),
.vench-item:nth-child(6),
.vench-item:nth-child(7),
.vench-item:nth-child(8) {
  flex-basis: 32.5%;
  opacity: 0.85;
  cursor: pointer;
}

.vench-item:nth-child(4),
.vench-item:nth-child(5),
.vench-item:nth-child(9),
.vench-item:nth-child(10),
.vench-item:nth-child(14),
.vench-item:nth-child(15),
.vench-item:nth-child(21),
.vench-item:nth-child(22) {
  flex-basis: 49.5%;
}

.vench-item:nth-child(19) {
  flex-basis: 32.7%;
}

.vench-item:nth-child(20) {
  flex-basis: 66.3%;
}

.vench-item:hover {
  opacity: 1;
}

.vench-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  .vench-item {
    margin-bottom: 4px;
  }
}
.sem1-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.sem1-item:nth-child(1),
.sem1-item:nth-child(2),
.sem1-item:nth-child(6),
.sem1-item:nth-child(7),
.sem1-item:nth-child(8),
.sem1-item:nth-child(9) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
}

.sem1-item:nth-child(3),
.sem1-item:nth-child(4),
.sem1-item:nth-child(5) {
  flex-basis: 32.7%;
}

.sem1-item:hover {
  opacity: 1;
}

.sem1-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sem3-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.sem3-item:nth-child(1),
.sem3-item:nth-child(2),
.sem3-item:nth-child(6),
.sem3-item:nth-child(7) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
}

.sem3-item:nth-child(3),
.sem3-item:nth-child(4),
.sem3-item:nth-child(5) {
  flex-basis: 32.7%;
}

.sem3-item:hover {
  opacity: 1;
}

.sem3-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sem2-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.sem2-item:nth-child(1),
.sem2-item:nth-child(2),
.sem2-item:nth-child(6),
.sem2-item:nth-child(7),
.sem2-item:nth-child(9),
.sem2-item:nth-child(10),
.sem2-item:nth-child(11) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
}

.sem2-item:nth-child(3),
.sem2-item:nth-child(4),
.sem2-item:nth-child(5) {
  flex-basis: 32.7%;
}

.sem2-item:nth-child(9) {
  flex-basis: 66.7%;
}

.sem2-item:hover {
  opacity: 1;
}

.sem2-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swa1-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.swa1-item:nth-child(1),
.swa1-item:nth-child(2),
.swa1-item:nth-child(6),
.swa1-item:nth-child(7),
.swa1-item:nth-child(14),
.swa1-item:nth-child(15) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
}

.swa1-item:nth-child(3),
.swa1-item:nth-child(4),
.swa1-item:nth-child(5),
.swa1-item:nth-child(16) {
  flex-basis: 32.7%;
}

.swa1-item:nth-child(17) {
  flex-basis: 66.7%;
}

.swa1-item:hover {
  opacity: 1;
}

.swa1-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swa2-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
  margin-bottom: 8px;
}

.swa2-item:nth-child(4),
.swa2-item:nth-child(5),
.swa2-item:nth-child(11),
.swa2-item:nth-child(12),
.swa2-item:nth-child(16),
.swa2-item:nth-child(17) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
}

.swa2-item:nth-child(7),
.swa2-item:nth-child(18) {
  flex-basis: 66.3%;
}

.swa2-item:hover {
  opacity: 1;
}

.swa2-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.twor-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.twor-item:nth-child(1),
.twor-item:nth-child(2) {
  flex-basis: 49.5%;
  opacity: 0.85;
  cursor: pointer;
  align-items: center;
}

.twor-item:hover {
  opacity: 1;
}

.twor-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  font-family: Inder, sans-serif;
  color: #fff;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  padding: 20px 0;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo2 {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.burger {
  display: none;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.footer {
  margin-top: 25px;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__nav {
  margin-top: 7px;
}

.header__nav-list {
  display: flex;
  justify-content: center;
}

.header__nav-item {
  margin-right: 25px;
  position: relative;
}
.header__nav-item:last-child {
  margin: 0;
}
.header__nav-item:nth-child(3) {
  margin-right: 150px;
}
.header__nav-item:nth-child(4) {
  margin-left: 150px;
}

.header__nav-list {
  text-transform: uppercase;
}

li:hover > .submenu {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.header__nav-link {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  cursor: pointer;
}

.header__nav-link:after {
  background-color: #ffffff; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 1px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__nav-link:hover:after,
.header__nav-link:focus:after {
  width: 100%;
}

.submenu {
  display: none;
  position: absolute;
  top: 24px;
  left: -12px;
  z-index: 2;
  background-color: #070000;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}

.submenu-item {
  padding: 5px;
  margin: 5px;
}

.submenu-link {
  font-size: 10px;
  font-weight: 400;
  white-space: nowrap;
  display: inline-block;
  line-height: 2;
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer;
}

.submenu-link:after {
  background-color: #ffffff; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 1px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.submenu-link:hover:after,
.submenu-link:focus:after {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn_telegram_share {
  position: fixed;
  bottom: 45px;
  right: 60px;
}

/*.btn_telegram_share:focus*/
.btn_telegram_share:before {
  content: " ";
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("/images/icons/teleg.png") no-repeat left center transparent;
  background-size: 100% 100%;
}

.blockSlider {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 100vh; /* использование вьюпорта для высоты */
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-height: 1000px;
  cursor: url(/images/icons/ping.png), pointer;
}

.FullArea {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pointAreaSize {
  width: 150px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  display: none;
}

.point {
  display: flex;
  width: 12px;
  height: 12px;
  background: rgb(229, 229, 229);
  border-radius: 100px;
  cursor: pointer;
}

.point:hover {
  background: rgb(0, 0, 0);
}

.imagesArea {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 25px;
}

.imageSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.activeImage {
  background: #000;
  display: flex;
  opacity: 1;
}

.btnsAreaSize {
  position: absolute;
  display: flex;
  width: 95%;
  justify-content: space-between;
}

i.fa-angle-left,
i.fa-angle-right {
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
  font-weight: 800;
}

.blockArrow {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: none;
}

.blockArrow:hover {
  background: rgba(39, 39, 39, 0.59);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.blockArrow:active {
  background: rgba(16, 16, 16, 0.59);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.footer__content {
  max-width: 730px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__text-top {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__socials {
  margin-top: 50px;
}

.footer_socials-list {
  display: flex;
  justify-content: center;
}

.footer_socials-item {
  margin-right: 20px;
}
.footer_socials-item svg {
  width: 30px;
  height: 30px;
}
.footer_socials-item:last-child {
  margin: 0;
}

.footer_socials-link path {
  transition: all 0.3s;
}

.footer_socials-link:hover path {
  fill: rgb(247, 207, 49);
  transform: scale(0.9);
  transition: all 0.3s;
}

.footer__phone {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  text-shadow: #fc0 1px 0 10px;
  transition: all 0.3s;
}
.footer__phone:hover {
  transform: scale(0.9);
  transition: all 0.3s;
}

.footer__text-bot {
  max-width: 565px;
  margin: 15px 0 40px 0;
}

.footer__text-desc {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.tglink {
  display: none;
  opacity: 0.6;
  font-size: 12px;
  margin: 10px 0 10px 0;
}

.gallery__title {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 20px 20px;
  text-align: center;
}

.submentitle {
  text-align: center;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  /* стили для маленьких экранов */
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* стили для средних экранов */
}
@media screen and (max-width: 1300px) {
  .blockSlider {
    height: 95vh;
  }
}
@media screen and (max-width: 1200px) {
  .blockSlider {
    height: 70vh;
    max-width: 1000px;
  }
  .footer__text-top {
    font-size: 19px;
  }
  .footer__content {
    max-width: 561px;
  }
}
@media screen and (max-width: 950px) {
  .blockSlider {
    height: 65vh;
    max-width: 900px;
  }
}
@media screen and (max-width: 800px) {
  .burger {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    border: none;
    background: transparent;
    width: 30px;
    height: 26px;
    margin: 30px auto;
    z-index: 150;
    text-shadow: #fc0 1px 0 10px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .header__inner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #434242;
    z-index: 100;
    flex-direction: column-reverse;
    min-width: 320px;
    transition: all 0.3s;
  }
  .header__inner--open {
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .header__nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header__nav-list {
    flex-direction: column;
    margin: 0;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-item:nth-child(3) {
    margin: 0;
  }
  .header__nav-item:nth-child(4) {
    margin: 0;
  }
  .header__nav-link {
    padding: 20px;
  }
  .submenu {
    display: none;
    position: absolute;
    top: 43px;
    left: -1px;
    z-index: 2;
    background-color: #434242;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
  }
  .submenu-link {
    line-height: 3;
  }
  .header__logo2 {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .blockSlider {
    height: 55vh;
    max-width: 700px;
  }
  .footer__text-top {
    font-size: 14px;
  }
  .addit-inner {
    margin: 20px 50px;
  }
  .addit-text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 650px) {
  .blockSlider {
    height: 55vh;
    max-width: 600px;
  }
  .about__image img {
    max-width: 300px;
  }
  .btn_telegram_share {
    display: none;
  }
  .tglink {
    display: block;
    opacity: 0.6;
    font-size: 12px;
    margin: 20px 0 20px 0;
  }
}
@media screen and (max-width: 485px) {
  .blockSlider {
    height: 36vh;
    max-width: 600px;
  }
  .footer__content {
    max-width: 330px;
  }
  .footer__socials {
    margin-top: 20px;
  }
  .footer__text-bot {
    margin: 15px 0 20px 0;
  }
  .footer__text-top {
    font-size: 12px;
  }
  .list__desc {
    font-size: 14px;
  }
  .services__price {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-order {
    margin-top: 20px;
  }
  .item__list {
    max-width: 320px;
  }
}
@media screen and (max-width: 700px) {
  .item__img img {
    width: 500px;
  }
  .wrapperr span {
    font-size: x-small;
    letter-spacing: 6px;
  }
}
@media screen and (max-width: 550px) {
  .about__image img {
    max-width: 250px;
  }
  .about__content {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .item__img img {
    width: 350px;
  }
  .item__img {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .divider span {
    font-size: 14px;
    letter-spacing: 5px;
  }
  .services-diviper span:nth-child(2) {
    white-space: wrap;
    line-height: 24px;
  }
  .addit-text {
    font-size: 14px;
  }
  .about {
    flex-direction: column;
  }
  .about__content {
    margin: 0;
  }
  .order__button {
    margin: 20px 0;
  }
}
@media screen and (max-width: 880px) {
  .wrapperr {
    width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .wrapperr {
    width: 100%;
  }
}