html,
body {
  font-family: Inder, sans-serif;
  color: #fff;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  padding: 20px 15px;
}
.header {
  max-width: 1440px;
  height: 12vh;
  margin: 0 auto;
  padding-top: 5px;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.header__logo2 {
  display: none;
}

.burger {
  display: none;
}
.main {
}
.slidermir {
}

.footer {
  margin-top: 40px;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__nav {
  margin-top: 7px;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header__nav-item {
  margin-right: 25px;
  &:last-child {
    margin: 0;
  }
  &:nth-child(3) {
    margin-right: 150px;
  }
  &:nth-child(4) {
    margin-left: 150px;
  }
}
.header__nav-link {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #fc0, #fc0 50%, #ffffff 50%);
  z-index: 1;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  &:before {
    content: "";
    background: #fc0;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-position: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------

.blockSlider {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 80vh; /* использование вьюпорта для высоты */
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.FullArea {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pointAreaSize {
  width: 150px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  display: none;
}
.point {
  display: flex;
  width: 12px;
  height: 12px;
  background: rgb(229, 229, 229);
  border-radius: 100px;
  cursor: pointer;
}

.point:hover {
  background: rgb(160, 167, 243);
}
.imagesArea {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imageSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease;
  object-fit: cover; /* использование свойства object-fit */
}

.activeImage {
  background: rgb(115, 126, 260);
  display: flex;
  opacity: 1;
}

.btnsAreaSize {
  position: absolute;
  display: flex;
  width: 95%;
  justify-content: space-between;
  display: none;
}

i.fa-angle-left,
i.fa-angle-right {
  color: rgb(115, 126, 250);
  font-size: 24px;
  cursor: pointer;
  font-weight: 800;
}
.blockArrow {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.blockArrow:hover {
  background: rgba(39, 39, 39, 0.59);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.blockArrow:active {
  background: rgba(16, 16, 16, 0.59);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
// ---------------------------------------------------------------------------------------------------------------------------------------------

.footer__content {
  max-width: 730px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__text-top {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: #fc0 1px 0 10px;
}
.footer__socials {
  margin-top: 50px;
}
.footer_socials-list {
  display: flex;
  justify-content: center;
}
.footer_socials-item {
  margin-right: 20px;
svg {
  width: 30px;
  height: 30px;
}
  &:last-child {
    margin: 0;
  }
}
.footer_socials-link path {
  transition: all 0.3s;
}
.footer_socials-link:hover path {
  fill: rgb(247, 207, 49);
  transform: scale(0.9);
  transition: all 0.3s;
}
.footer__phone {
  text-align: center;
  font-size: 16px;

  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  text-shadow: #fc0 1px 0 10px;
  transition: all 0.3s;
  &:hover {
    transform: scale(0.9);
    transition: all 0.3s;
  }
}
.footer__text-bot {
  max-width: 565px;
  margin: 15px 0 40px 0;
}
.footer__text-desc {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}
// -------------------------------------------------------------------SERVICES--------------------------------------------------------------------------
// 
.services {
}
.services__title {
 text-align: center;
 margin: 30px 0;
font-size: 20px;
font-weight: 700;
}
.services__inner {

  
}
.services__list {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
 
}
.services__item {
  max-width: 700px;
  
}
.item__img {
  img {
    width: 700px;
  }
}
.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px 0;
}
.item__list {
  
}
.list__desc  {
  list-style: disc;
  margin: 6px 0;
}
.services__price {
  width: 470px;
  justify-content: center;
  display: flex;
margin: 30px 0 20px 0;
}
.prise1 {
  text-align: center;
}
.prise2 {
  
}
.services__button {

}
.button-order {
  
}
.divider {                /* minor cosmetics */
  display: table; 
  font-size: 24px; 
  text-align: center; 
  width: 75%;             /* divider width */
  margin: 40px auto;          /* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;              /* adjust vertical align */
  -moz-background-size: 100% 2px;   /* line width */
  background-size: 100% 2px;      /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {       /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
  background-image: -webkit-linear-gradient(180deg, transparent, #fff);
  background-image: -moz-linear-gradient(180deg, transparent, #fff);
  background-image: -o-linear-gradient(180deg, transparent, #fff);
  background-image: linear-gradient(90deg, transparent, #fff);
}
.divider span:nth-child(2) {
  color: #ffffff; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {        /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #fff, transparent);
  background-image: -moz-linear-gradient(180deg, #fff, transparent);
  background-image: -o-linear-gradient(180deg, #fff, transparent);
  background-image: linear-gradient(90deg, #fff, transparent);
}

// ---------------------------------------------------addit------------------------------------------------------------------------------------------
// 
.addit {
}
.addit-inner {
  display: flex;
  flex-direction: column;
}
.addit__info {
}
.addit__info-list {
}
.addit__info-text {
  text-align: center;
}
.addit__price {
  
}
.addit-list {
 
}

.addit-text {
  list-style: inside;
  margin: 6px 0;
}




// ---------------------------------------------------------------------------------------------------------------------------------------------
// 
@media screen and (max-width: 768px) {
  /* стили для маленьких экранов */
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* стили для средних экранов */
}
@media screen and (max-width: 1300px) {
  .blockSlider {
    height: 75vh;
  }
}
@media screen and (max-width: 1200px) {
  .blockSlider {
    height: 65vh;
    max-width: 1000px;
  }
  .footer__text-top {
    font-size: 19px;
  }
  .footer__content {
    max-width: 561px;
  }
}
@media screen and (max-width: 950px) {
  .blockSlider {
    height: 55vh;
    max-width: 900px;
  }
}
@media screen and (max-width: 800px) {
  .burger {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    border: none;
    background: transparent;
    width: 30px;
    height: 26px;
    margin: 30px auto;
    z-index: 150;
    text-shadow: #fc0 1px 0 10px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .header__inner {
    position: fixed;
    top: 0;
    right: 0;
   bottom: 0;
    background-color: #434242;
    z-index: 100;
    flex-direction: column-reverse;
    min-width: 320px;
    transition: all .3s;
  }
  .header__inner--open {
    transform: translateX(100%);
    transition: all .3s;
  }
  .header__nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header__nav-list {
    flex-direction: column;
    
    margin: 0;
  }
  .header__nav-item {
    margin: 0;
    &:nth-child(3) {
      margin: 0;
    }
    &:nth-child(4) {
      margin: 0;
    }
  }
  .header__nav-link {
    padding: 20px;
  }
  .header__logo2 {
    display: block;
   margin: 0 auto;
   padding-bottom: 30px;
  }
  .blockSlider {
    height: 50vh;
    max-width: 700px;
  }
  .footer__text-top {
    font-size: 17px;
  }
}
@media screen and (max-width: 650px) {
  .blockSlider {
    height: 50vh;
    max-width: 600px;
  }
}
@media screen and (max-width: 485px) {
  .blockSlider {
    height: 40vh;
    max-width: 600px;
  }
  .footer__content {
  max-width: 330px;
}
.footer__socials {
  margin-top: 20px;
}
.footer__text-bot {
  margin: 15px 0 20px 0; 
}
}

// Путем комбинирования относительных единиц измерения vh и тд, свойства object-fit и медиа-запросов можно добиться адаптивности слайдера под разные расширения экрана.
